/*Specific style for homepage*/

/*Header*/



header a {
    color:#fef1f8;
}


header .header-nav ul > li a{
    color:#fef1f8;
}

header .header-menu-right .header-bars{
    background-image: url(./images/icon/header-bars-white.png);
}


/* Banner */

.sous-banner{
    height:100vh;
}

.banner {
    height:100vh;
    position:absolute;
    top:0;
    left: 0;
    right:0;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:0;
    color:#fef1f8;
    background-image: url(./images/home/banner/banner-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:left bottom
}

@media only screen and (min-width:501px){
    .banner{
        background-image: url(./images/home/banner/banner-bg-medium.jpg);
    }
}

@media only screen and (min-width:768px){
    .banner{
        background-image: url(./images/home/banner/banner-bg-large.jpg);
    }
}

@media only screen and (min-width:992px){
    .banner{
        background-image: url(./images/home/banner/banner-bg-x-large.jpg);
    }
}

@media only screen and (min-width:1201px){
    .banner .container{
        max-width:800px;
        width:100%;
    }
}


.banner .banner-text{
    margin:30px 0;
}

.banner .banner-button{
    padding:20px 18px;
    border-radius:35px;
    background:#832b61;
    color:#fef1f8;
    font-size:1.6rem
}

/*Menu Section*/

.menu{
    padding:80px 35px 0;
}

.menu .menu-container .menu-category{
    margin:25px 0;
}

.menu .menu-container .menu-category .category-item input{
    display: none;
}

.menu .menu-container .menu-category .category-item input + label{
    display: block;
    padding:15px 10px;
    cursor: pointer;
    font-weight:700;
    font-size:1.7rem
}

.menu .menu-container .menu-category .category-item input + label.active{
    background-color: #f598ca;
}

.menu .menu-container .menu-category .category-item{
    cursor:pointer;
    margin:20px 0;
    width:100%;
}

@media only screen and (min-width:501px){
    .menu .menu-container .menu-category .category-item{
        width:250px;
    }
}

.menu .menu-container .menu-food .food-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    padding:10px 0;
}

.menu .menu-container .menu-food .food-info h3{
    margin:0;
    font-size:1.8rem;
}

.menu .menu-container .menu-food .foods{
    display:none
}

.menu .menu-container .menu-food .foods.is-active{
    display:block
}

.menu .menu-container .menu-food .foods .card-food{
    width:100%;
}

.menu .menu-container .menu-food .foods .card-food img{
    max-width:100%;
    object-fit: cover;
    width:100%;
}

@media only screen and (min-width:992px){
    .menu .menu-container{
        display: flex;
        align-items: flex-start;
    }

    .menu .menu-container .menu-category{
        flex:1 250px;
        margin-right:20px;
    }
}

.menu .menu-container .menu-food .foods .card-food{
    margin-bottom:25px
}

@media only screen and (min-width:600px){

    .menu .menu-container .menu-food .foods .card-food{
        width:100%;
    }

    .menu .menu-container .menu-food .foods.is-active{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        row-gap:25px;
        column-gap: 30px;
    }
}

/*Section témoignages*/

.temoignages{
    padding:50px 0;
}

.temoignages .testimonials{
    margin:50px 0;
}

.temoignages .testimonials .card-testimonials {
    width:100%;
    text-align: center;
}

.temoignages .testimonials .card-testimonials h3.quotes-author{
    text-align: end;
    font-size:1.6rem
}


.temoignages .testimonials .card-testimonials blockquote{
    margin:25px 0;
    font-size:1.6rem;
    font-style:italic;
    line-height: 1.3;
    font-weight: 550;
}

@media only screen and (min-width:501px) and (max-width:767px){
    .temoignages .testimonials .card-testimonials blockquote{
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }
}

.temoignages .testimonials .card-testimonials img{
    border-radius:50%;
}

.temoignages .testimonials .card-testimonials .testimonials-message .quotes-symbol{

    width:50px;
    height:50px;
    background-image: url(./images/home/testimonials/quotes-symbol.png);
}

.temoignages .testimonials .card-testimonials {
    margin-top:60px;
}

@media only screen and (min-width:768px){
    .temoignages .testimonials .card-testimonials img{
        border-radius:0;
    }

    

    .temoignages .testimonials .card-testimonials.right .image{
        text-align:right
    }

    .temoignages .testimonials .card-testimonials{
        text-align: left;
        position: relative;
        margin-top:160px;
    }

    .temoignages .testimonials .card-testimonials.right{
        margin:50px 0 300px 0;
    }

    .temoignages .testimonials .card-testimonials .testimonials-message{
        position: absolute;
        top:-70px;
        left:250px;
        height:300px;
        padding:20px;
        z-index:1;
        background-color: #f8e4f0;
    }

    .temoignages .testimonials .card-testimonials.right .testimonials-message{
        top:70px;
        right:250px;
        left:0;
        height:300px;
    }

    .temoignages .testimonials .card-testimonials img{
        width:300px;
    }
}

@media only screen and (min-width:1200px){
    .temoignages .testimonials .card-testimonials .testimonials-message{
        height:250px;
    }
}


/*Last Articles*/

.last-articles .article-card{
    width:100%;
    border:1px solid #cab5c1;
    font-size:1.6rem;
    margin:45px 0;
}

@media only screen and (min-width:501px){
    .last-articles .article-card{
        width:350px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media only screen and (min-width:750px){
    .last-articles .articles-list{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .last-articles .article-card{
        flex:1 350px;
        max-width:350px;
        width:100%;
        margin-left:0;
        margin-right:0;
    }
}

@media only screen and (min-width:992px){
    .last-articles .article-card{
        flex:none;
        width:250px;
    }
}

@media only screen and (min-width:1200px){
    .last-articles .article-card{
        width:300px;
    }
}

.last-articles .article-card img{
    max-width:100%;
    width:100%;
    object-fit: cover;
}

.last-articles .article-card .article-body{
    padding:15px 10px 10px;
}

.last-articles .article-card .article-body h4{
    margin:0;
    font-size:1.7rem;
}

.last-articles .article-card .article-body a{
    color: #7f0a52;
    display: inline-block;
    padding:13px 30px 13px 5px;
    font-weight:700;
    font-size:1.6rem;
    background-image: url(./images/home/last-articles/arrow-right.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: top 13px right 5px;
    transition:.3s;
}

.last-articles .article-card .article-body a:hover{
    transform: scale(1.05);
}

/*Gallery d'images*/

.gallery{
    padding:45px 0;
}

.gallery .grid-gallery{
    padding-top:25px;
}

.gallery .gallery-button {
    margin:25px 0;
}

.gallery .gallery-button a{
    padding:18px 15px;
    font-weight:700;
}

.gallery .grid-gallery .grid-item img{
    width:100%;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

@media only screen and (min-width:501px){

    .gallery .grid-gallery{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap:18px;
    }
}

@media only screen and (min-width:992px){

    .gallery .grid-gallery{
        width:60%;
        grid-template-columns: repeat(3,1fr);
    }

    .gallery .grid-gallery .grid-item-2{
        grid-row: 1 / 3;
        grid-column: 3/4;
    }

    .gallery .grid-gallery .grid-item-3{
        grid-row: 2 / 3;
        grid-column: 1/3;
    }

    .gallery .grid-gallery .grid-item-8{
        grid-column: 2/4;
        grid-row:4/5
    }

    .gallery .grid-gallery .grid-item-9{
        grid-column: 1/3;
    }

}