.container{
    width:auto;
    padding: 0 20px;
    margin:0 auto;
}

@media only screen and (min-width:600px){
    .container{
        padding:0 30px;
    }
}

@media only screen and (min-width:768px){
    .container{
        max-width:750px;
    }
}

@media only screen and (min-width:992px){
    .container{
        max-width:900px;
        width:100%
    }
}

@media only screen and (min-width:1200px){
    .container{
        max-width: 1140px;
        width:100%;
    }
}